.main-header .sidebar-toggle:before {
    content: "" !important;
}

.main-header .sidebar-toggle {
    padding: 0px !important;
}

.avatar_image {
    width: 32px;
    height: 32px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img.avatar_image {
    border: none !important;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}